<component name="ArtifactManager">
  <artifact type="exploded-war" name="springstudy:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springstudy_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springstudy" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="javax.servlet-api-4.0.1" />
          <element id="library" level="project" name="jstl-1.2" />
          <element id="library" level="project" name="logback-core-1.2.3" />
          <element id="library" level="project" name="logback-classic-1.2.3" />
          <element id="library" level="project" name="jcl-over-slf4j-1.7.28" />
          <element id="library" level="project" name="slf4j-api-1.7.28" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springstudy/web/Web" />
    </root>
  </artifact>
</component>